<!DOCTYPE html>
<html>
<title>Phadnis Security Protocol Converters</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}

body, html {
  height: 100%;
  line-height: 1.8;
}

/* Full height image header */
.bgimg-1 {
  background-position: center;
  background-size: cover;
  background-image: url("raksha_header.jpg");
  min-height: 100%;
}

.w3-bar .w3-button {
  padding: 16px;
}
</style>
<body>
<script src="https://smtpjs.com/v3/smtp.js"></script>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-card" id="myNavbar">
    <a href="#home" class="w3-bar-item w3-button w3-wide">raksha.io [Rakṣā (रक्षा). - Protection, preservation; guarding;]</a>
    <!-- Right-sided navbar links -->
    <div class="w3-right w3-hide-small">
      <a href="demo_user#about" class="w3-bar-item w3-button">About</a>
      <a href="demo_user#team" class="w3-bar-item w3-button"><i class="fa fa-user"></i> FAQ</a>
      <a href="demo_user#work" class="w3-bar-item w3-button"><i class="fa fa-th"></i> Products</a>
      <!-- <a href="#pricing" class="w3-bar-item w3-button"><i class="fa fa-usd"></i> Pricing</a> -->
      <a href="demo_user"#index" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i> Contact</a>
      <a href="demo_user" class="w3-bar-item w3-button"><i class="fa fa-gears"></i>Demo</a>
    </div>
    <!-- Hide right-floated links on small screens and replace them with a menu icon -->

    <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium" onclick="w3_open()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>

<!-- Sidebar on small screens when clicking the menu icon -->
<nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large" style="display:none" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">ABOUT</a>
  <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">TEAM</a>
  <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
  <!-- <a href="#pricing" onclick="w3_close()" class="w3-bar-item w3-button">PRICING</a> -->
  <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
</nav>

<!-- Header with full-height image -->

<header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
  <div class="w3-row-padding w3-center" style="margin-top:64px" >
    <p><a href="#about" class="w3-button w3-display-center w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">This is us!</a></p>
    <p>We are a software house with 50 years experience in advanced software development technologies.</p>
    <p> We develope application such as SOAP and REST services for enterprise partners document exchanges:</p>
    <p> Such as ePeppol transactions</p>
    <p> Secure Envelope transactions</p>
    <p> Enterprise PKI X509 RSA TEST certificate generation</p>
    <p> Enterprise PKI X509 ECDSA TEST certificate generation</p>
    <p> Enterprise JWKS repositories</p>
    <p> Enterprise JWT, JWE  token generation services</p>
    <p> Enterprise securiy authentication protocol conversions services: </p>
    <p> X509 - SAML, SAML - X509, SAML - OAUTH, OAUTH - SAML, OAUTH - X509, X509 - OAUTH</p>
  </div>

</header>

<!-- About Section >
<div class="w3-container" style="padding:128px 16px" id="about" -->
<div class="w3-row-padding w3-center" style="margin-top:64px" >
  <h3 class="w3-center">About raksha.io</h3>
  <!-- <p class="w3-center w3-large">Key features of our company</p> -->
  <div class="w3-row-padding w3-center" style="margin-top:64px">
    <div class="w3-quarter">
      <i class="fa fa-desktop w3-margin-bottom w3-jumbo w3-center"></i>
      <p class="w3-large">Agile</p>
      <p>We at raksha.io believe in being lean and agile.</p>
      <p>No fluff, Pure Function!</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-heart w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Passionate</p>
      <p>William (Bill) Clinton recently said, "If you want to lead something, start by saying, This is what I care about...". We interpret that as being passionate about what you do. raksha.io came about and continues to exist because we care about what we are doing.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-diamond w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Dependable</p>
      <p>In the modern world, any marketing or sales person will hesitate to use Dependable in their material. However, that is exactly how we want to be seen. You can depend on us.</p>
    </div>
    <div class="w3-quarter">
      <i class="fa fa-cog w3-margin-bottom w3-jumbo"></i>
      <p class="w3-large">Full Functionality Free Tier</p>
      <p>Our cornerstone products can always be downloaded, hosted and productively deployed by you and we wont ask for a single penny.</p>
    </div>
  </div>
</div>


<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" class="w3-image">
    <p id="caption" class="w3-opacity w3-large"></p>
  </div>
</div>

<!-- Demo Section -->

<div class="w3-container w3-center" style="padding:128px 16px" id="demo">
  <h3>Take a Test Drive</h3>
  <p class="w3-large">Token Exchange Demo</p>
  <div class="w3-row-padding" style="margin-top:64px">
    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">SAML 2.0 to X.509</li>
        <li class="w3-padding-16"><b>10GB</b> Storage</li>
        <li class="w3-padding-16"><b>10</b> Emails</li>
        <li class="w3-padding-16"><b>10</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 10</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Convert</button>
        </li>
      </ul>
    </div>
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-red w3-xlarge w3-padding-48">X.509 to SAML 2.0</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Convert</button>
        </li>
      </ul>
    </div>
    
    <div class="w3-third">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-red w3-xlarge w3-padding-48">SAML 2.0 to OAuth 2.0</li>
        <li class="w3-padding-16"><b>25GB</b> Storage</li>
        <li class="w3-padding-16"><b>25</b> Emails</li>
        <li class="w3-padding-16"><b>25</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 25</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Convert</button>
        </li>
      </ul>
    </div>

    <div class="w3-third w3-section">
      <ul class="w3-ul w3-white w3-hover-shadow">
        <li class="w3-black w3-xlarge w3-padding-32">OAuth 2.0 to SAML 2.0</li>
        <li class="w3-padding-16"><b>50GB</b> Storage</li>
        <li class="w3-padding-16"><b>50</b> Emails</li>
        <li class="w3-padding-16"><b>50</b> Domains</li>
        <li class="w3-padding-16"><b>Endless</b> Support</li>
        <li class="w3-padding-16">
          <h2 class="w3-wide">$ 50</h2>
          <span class="w3-opacity">per month</span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-black w3-padding-large">Convert</button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!-- Contact Section -->
<div class="w3-container w3-light-grey" style="padding:128px 16px" id="contact">
  <h3 class="w3-center">CONTACT</h3>
  <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
  <div style="margin-top:48px">
    <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> UTES Inc. Oslo Norway</p>
    <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> Phone: +4740634044</p>
    <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: ap@phadnis.no</p>
    <br>
    <form action="/sendEmail" method="post"  >
      <p><input class="w3-input w3-border" type="text" id="name" name="name" placeholder="Name" required name="Name"></p>
      <p><input class="w3-input w3-border" type="text"  id="email" name="email" placeholder="Email" required name="Email"></p>
      <p><input class="w3-input w3-border" type="text"  id="subject" name="subject" placeholder="Subject" required name="Subject"></p>
      <p><input class="w3-input w3-border" type="text"  id="message" name="message" placeholder="Message" required name="Message"></p>
      <p>
        <button class="w3-button w3-black" type="submit">
          <i class="fa fa-paper-plane"></i> SEND MESSAGE
        </button>
      </p>
    </form>
    <!-- Image of location/map -->
    <img src="map.jpg" class="w3-image w3-greyscale" style="width:100%;margin-top:48px">
  </div>
</div>

<script type="text/javascript">

function sendEmail(name, email, subject, message) {
	var dname = document.getElementById('name').value;
	var dmail = document.getElementById('email').value;
	var dsubject = document.getElementById('subject').value;
	var dmessage = document.getElementById('message').value;
	alert("sendEmail called" + dname + dmail + dsubject + dmessage);
	/*Email.send({
		Host: "post.subsys.no",
	    Username: "ap@phadnis.no",
	    Password: "PhaJe9876",
	    To: "ap@phadnis.no",
	    From: '${dmail}',
	    Subject: '${dsubject}',
	    Body: '${dmessage}',
	}).then((message) => alert("mail sent successfully !!"));*/
	
	    var link = "mailto:ap@phadnis.no"
	             + "&subject=" +dsubject
	             + "&body=" + dmessage
	    ;
	    
	    window.location.href = link;
	}
</script>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
 
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}


// Toggle between showing and hiding the sidebar when clicking the menu icon
var mySidebar = document.getElementById("mySidebar");

function w3_open() {
  if (mySidebar.style.display === 'block') {
    mySidebar.style.display = 'none';
  } else {
    mySidebar.style.display = 'block';
  }
}

// Close the sidebar with the close button
function w3_close() {
    mySidebar.style.display = "none";
}


</script>

</body>
</html>